# Dependency directories
node_modules/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz


# Output directories
dist
docs
coverage
.nyc_output

# Built docs
custom-elements.json
LIST.md
theme-variables.json
themes-list.json

# General
.DS_Store

# Components
*.d.ts
*.d.ts.map

# Include typings from source
!src/*.d.ts

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/