{
	"bracketSameLine": true,
	"endOfLine": "auto",
	"printWidth": 140,
	"tabWidth": 4,
	"trailingComma": "none",
	"htmlWhitespaceSensitivity": "strict",
	"semi": true,
	"singleQuote": true,
	"useTabs": false
}