* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Hind Vadodara';
    cursor: default;
}

*,
::before,
::after {
    box-sizing: border-box;
}

/* INDEX */

body {
    -webkit-font-smoothing: antialiased;
}

.container {
    padding-left: 260px;
}

main {
    scroll-margin-top: 60px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-top: 60px;
}

footer {
    display: flex;
    background-color: darkkhaki;
}

/* HEADER */

header {
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 6;
    position: fixed;
    background-color: #ffffff;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    -webkit-box-align: center;
    align-items: stretch;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

header * {
    align-items: center;
}

.header-menu-button {
    display: none;
    padding-left: 20px;
    /* background-color: gold; */
}

.header-menu-button .material-icons {
    cursor: pointer;
}

.header-logo {
    display: flex;
    padding: 0 20px;
    justify-content: flex-start;
    /* background-color: pink; */
}

.header-logo .header-container {
    display: flex; 
    justify-content: flex-start; 
    align-items: center;
}

.header-actions {
    display: flex;
    padding-right: 20px;
    justify-content: flex-end;
    /* background-color: turquoise; */
}

/* MENU */

.menu {
    box-sizing: border-box;
    height: calc(100vh - 60px);
    border-right: 1px solid #e1e1e1;
    background-color: #ffffff;
    position: fixed;
    z-index: 5;
    padding-top: 0;
    top: 60px;
    bottom: 0px;
    left: 0px;
    width: 260px;
    overflow-y: auto;
}

.menu .mobile {
    box-sizing: border-box;
    height: calc(100vh - 60px);
    border-right: 1px solid #e1e1e1;
    background-color: #ffffff;
    position: fixed;
    z-index: 5;
    top: 60px;
    bottom: 0px;
    left: 0px;
    width: 260px;
    overflow-y: auto;
}

.menu-container {
    display: flex;
    flex-direction: column;
}

.menu-item-wrapper {
    margin: 0 24px;
    border-left: 1px solid #e1e1e1;
}

.menu-item {
    padding: 0 24px;
    width: 100%;
    display: block;
}

.menu-item {
    list-style-type: none;
    text-decoration: none;
    line-height: 2;
}

/* COMPONENTS */

.component-meta {
    position: relative;
    z-index: 4;
    background-color: #f9f9f9;
    padding: 24px 48px;
}

.component-meta .component-name {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 600;
}

.component-tab-container {
    position: relative;
    z-index: 1;
    background-color: #f9f9f9;
    box-shadow: none;
    /* padding-bottom: 80px; */
}

.component-tab-root {
    flex-direction: row;
}

.component-tab-wrapper {
    border-bottom: 1px solid #e1e1e1;
    padding-left: 48px;
}

.component-tab-list {
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    /* max-width: 1082px; */
    margin-left: auto;
    margin-right: auto;
    border-bottom: 0px;
}

.component-tab-button.active {
    background-color: blue;
}

.component-tab {
    display: none;
    animation: fadeEffect 0.2s;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.component-tab-content {
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: #ffffff;
}

.component-toc-wrapper {
    flex: 0 0 260px;
    margin-top: 24px;
}

.component-toc {
    position: sticky;
    top: 84px;
    display: flex;
    flex-direction: column;
    background-color: pink;
    flex: 0 0 240px;
    overflow-y: auto;
    max-height: calc(100vh - 65px);
}

.component-toc-active {
    font-weight: bold;
}

@media screen and (max-width: 760px) {

    .header {
        background-color: blueviolet;
    }

    .menu {
        width: 100%;
        border-right: 0;
    }

    .header-menu-button {
        display: flex;
        justify-content: flex-start;
        flex : 1;
    }

    .header-logo {
        flex: 2;
        padding: 0;
        justify-content: center;
    }

    .header-actions {
        flex : 1;
    }

    .menu {
        display: none;
    }

    .mobile {
        display: block;
        width: 100%;
        right: 0px;
        border-right: 0;
    }

    .container {
        padding-left: 0;
    }

    main {
        padding-left: 0;
        padding-right: 0;
    }

    .tab {
        display: flex;
    }

    .tab button {
        flex: 1
    }
}

@media screen and (max-width: 1080px) {
    .component-toc-wrapper {
        display: none;
    }
}