* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Hind Vadodara';
    cursor: default;
}

*,
::before,
::after {
    box-sizing: border-box;
}

/* INDEX */

body {
    -webkit-font-smoothing: antialiased;
}

.container {
    padding-left: 260px;
}

main {
    scroll-margin-top: 60px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-top: 60px;
}

footer {
    display: flex;
    background-color: darkkhaki;
}

/* HEADER */

header {
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 6;
    position: fixed;
    background-color: #ffffff;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    -webkit-box-align: center;
    align-items: stretch;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

header * {
    align-items: center;
}

.header-menu-button {
    display: none;
    padding-left: 20px;
    /* background-color: gold; */
}

.header-menu-button .material-icons {
    cursor: pointer;
}

.header-logo {
    display: flex;
    padding: 0 20px;
    justify-content: flex-start;
    /* background-color: pink; */
}

.header-logo .header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-actions {
    display: flex;
    padding-right: 20px;
    justify-content: flex-end;
    /* background-color: turquoise; */
}

.header-actions>.action {
    padding: 5px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #e1e1e1;
    display: flex;
}

.header-actions>.action:hover {
    background-color: #f8f9fa;
}

.header-theme-section {
    padding: 5px;
}

#header-theme-select {
    min-width: 80px;
}

/* MENU */

.menu {
    box-sizing: border-box;
    height: calc(100vh - 60px);
    border-right: 1px solid #e1e1e1;
    background-color: #ffffff;
    position: fixed;
    z-index: 5;
    padding-top: 0;
    top: 60px;
    bottom: 0px;
    left: 0px;
    width: 260px;
    overflow-y: auto;
}

.menu .mobile {
    box-sizing: border-box;
    height: calc(100vh - 60px);
    border-right: 1px solid #e1e1e1;
    background-color: #ffffff;
    position: fixed;
    z-index: 5;
    top: 60px;
    bottom: 0px;
    left: 0px;
    width: 260px;
    overflow-y: auto;
}

.menu-container {
    display: flex;
    flex-direction: column;
    padding: 12px 0;
}

.menu-item {
    margin: 0 12px;
    /* border-left: 1px solid #e1e1e1; */
}

.menu-item.selected {
    border-left: 2px solid #209CEE;
    /* #00486d; */
}

.menu-link {
    padding: 0 24px;
    width: 100%;
    display: block;
    list-style-type: none;
    text-decoration: none;
    line-height: 2;
    color: #000000cc;
    font-weight: 500;
    cursor: pointer;
}

.menu-link:hover {
    background: #209cee1a;
}

.menu-link.selected {
    background: #209cee1a;
    color: #209CEE;
    margin-left: -2px;
    /* #00486d; */
}

/* COMPONENTS */

.component-meta {
    position: relative;
    z-index: 4;
    background-color: #f9f9f9;
    padding: 24px 48px;
}

.component-name {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 6px;
}

.component-desc {
    margin-bottom: 24px;
    color: #000000cc;
}

.component-info {
    display: flex;
    flex-direction: column;
    color: #000000cc;
    /* background-color: lightblue; */
}

.component-info-item {
    display: flex;
    flex-direction: row;
    margin: 6px 0;
}

.component-info-item > div:first-child {
    width: 100px;
}

.component-info-item > div:last-child {
    flex: 1;
}

.component-info-item-code {
    align-items: center;
    display: flex;
    overflow-y: auto;
}

.component-info-item-link {
    display: flex;
    color: #000000cc;
    text-decoration: none;
    cursor: pointer;
    align-items: center;
}

.component-info-item-link:hover {
    text-decoration: underline;
}

.component-info-item-img {
    height: 16px; 
    margin-right: 6px; 
    cursor: pointer;
}

.component-info-item-copy {
    font-size: 16px;
    color: #000000cc;
}

.component-tab-container {
    position: relative;
    z-index: 1;
    background-color: #f9f9f9;
    box-shadow: none;
    /* padding-bottom: 80px; */
}

.component-tab-root {
    flex-direction: row;
}

.component-tab-wrapper {
    border-bottom: 1px solid #e1e1e1;
    padding-left: 48px;
}

.component-tab-list {
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    /* max-width: 1082px; */
    margin-left: auto;
    margin-right: auto;
    border-bottom: 0px;
}

.component-tab-button {
    cursor: pointer;
    padding: 10xp 16px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    background-color: #f9f9f9;
    border-radius: 4px 4px 0 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #e1e1e1;
    font-size: 16px;
    font-weight: 500;
    height: 46px;
    padding: 0 20px;
    margin-bottom: -1px;
}

.component-tab-button.active {
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    border-bottom: 1px solid transparent;
}

.component-tab {
    display: none;
    animation: fadeEffect 0.2s;
    background: #ffffff;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.component-tab-content {
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: #ffffff;
}

.component-toc-wrapper {
    flex: 0 0 260px;
    margin-top: 24px;
}

.component-toc {
    position: sticky;
    top: 84px;
    display: flex;
    flex-direction: column;
    background-color: pink;
    flex: 0 0 240px;
    overflow-y: auto;
    max-height: calc(100vh - 65px);
}

.component-toc-active {
    font-weight: bold;
}

@media screen and (max-width: 760px) {

    .menu {
        width: 100%;
        border-right: 0;
    }

    .header-menu-button {
        display: flex;
        justify-content: flex-start;
        flex: 1;
    }

    .header-logo {
        flex: 2;
        padding: 0;
        justify-content: center;
    }

    .header-actions {
        flex: 1;
    }

    .menu {
        display: none;
    }

    .mobile {
        display: block;
        width: 100%;
        right: 0px;
        border-right: 0;
    }

    .container {
        padding-left: 0;
    }

    main {
        padding-left: 0;
        padding-right: 0;
    }

    .component-meta { 
        padding: 24px;
    }
    
    .component-tab-wrapper {
        padding-left: 24px;
    }

    .component-info-item > div:first-child {
        display: none;
    }

    .tab {
        display: flex;
    }

    .tab button {
        flex: 1
    }
}

@media screen and (max-width: 1080px) {
    .component-toc-wrapper {
        display: none;
    }
}

/* PRISM */

code[class*="language-"],
pre[class*="language-"] {
    color: black;
    background: none;
    text-shadow: 0 1px white;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #b3d4fc;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
    text-shadow: none;
    background: #b3d4fc;
}

@media print {

    code[class*="language-"],
    pre[class*="language-"] {
        text-shadow: none;
    }
}

/* Code blocks */
pre[class*="language-"] {
    /* padding: 1em; */
    /* margin: .5em 0; */
    overflow: auto;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
    /* background: #f5f2f0; */
}

/* Inline code */
:not(pre)>code[class*="language-"] {
    /* padding: .1em;
     border-radius: .3em;
     white-space: normal; */
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #999;
}

.token.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #9a6e3a;
    /* This background color was intended by the author of this theme. */
    background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #07a;
}

.token.function,
.token.class-name {
    color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
    color: #e90;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}


/* TOOLTIP */

/* .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip .tooltiptext.top {
    min-width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext.top::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip .tooltiptext.right {
    top: -5px;
    left: 105%;
}

.tooltip .tooltiptext.right::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltip .tooltiptext.bottom {
    min-width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext.bottom::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip .tooltiptext.left {
    top: -5px;
    right: 105%;
}

.tooltip .tooltiptext.left::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
} */


/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}