* {
    box-sizing: border-box;
    margin: 0;
}

header {
    position: sticky; 
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: aqua;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-between;
}

main {
    scroll-margin-top: 60px;
}

footer {
    display: flex;
    background-color: darkkhaki
}

@media screen and (max-width: 700px) {
    header {
        background-color: red;
    }
}