---
title: Getting Started - Omni Components
layout: page.njk
permalink: "getting-started/"
---

<div class="component-overlay">
    <div class="lds-ripple"><div></div><div></div></div>
</div>

<article class="component static-article">    
    {% renderFile "./INSTALLATION.md" %}
</article>