---
title: Omni Components
layout: page.njk
pagination:
    data: components
    size: 1
    alias: component
permalink: "components/{{ component.name | slug }}/"
---

<div class="component-overlay">
    <div class="lds-ripple"><div></div><div></div></div>
</div>

<article class="component">
    <div class="component-meta">
        <div class="component-name">{{ component.name }}</div>
        <div class="component-desc">{{ customElements | getDescription(component.name) | safe }}</div> 
        <div class="component-info">
            <div class="component-info-item">
                <div>Module</div>
                <div class="component-info-item-code">
                    <pre><code class="language-js" id="component-import-code">{{ customElements | getImport(component.name)}}</code></pre>
                    <span class="material-icons" style="font-size: 16px; cursor: pointer; margin-left: 6px;" onclick="copyToClipboard('component-import-code');return false;">
                        content_copy
                    </span>
                </div>
            </div>
            <div class="component-info-item">
                <div>Source</div>
                <div>
                    <a href="https://github.com/capitec/omni-components/tree/develop/{{ component.srcPath }}" target="blank" class="component-info-item-link">
                        <img src="/assets/images/github.svg" class="component-info-item-img">
                        View on GitHub
                    </a>
                </div>
            </div>
            <div class="component-info-item">
                <div>Package</div>
                <div>
                    <a href="https://www.npmjs.com/package/@capitec/omni-components" target="blank" class="component-info-item-link">
                        <img src="/assets/images/npm.svg" class="component-info-item-img">
                        @capitec/omni-components
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="component-tab-container">
        <div class="component-tab-root">
            <div class="component-tab-wrapper">
                <div class="component-tab-list" role="tablist">
                    <div role="tab" class="component-tab-button active" data-name="docs" onclick="openTab(event.currentTarget, 'docs')">Documentation</div>
                    <div role="tab" class="component-tab-button" data-name="props" onclick="openTab(event.currentTarget, 'props')">Properties</div>
                </div>
            </div>
            <div class="component-tab" id="docs" role="tabpanel" style="display: block;">
                <div class="component-tab-content">
                    <div>
                        {% for story in component.stories %}
                        <story-renderer 
                            id="story-{{ story | lower }}"
                            path="{{ component.path }}" 
                            tag="{{ customElements | getTagName(component.name) }}" 
                            key="{{ story }}"
                            {% if story === 'Interactive' %}interactive{% endif %} 
                        >
                        </story-renderer>
                        {%- endfor %}
                    </div>
                    <div class="component-toc-wrapper">
                        <div class="component-toc">
                            {% for story in component.stories %}
                                <a href="#story-{{ story | lower }}" id="story-{{ story | lower }}" class="component-toc-active">
                                    {{ story }}
                                </a>
                            {%- endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="component-tab" id="props" role="tabpanel">
                <div class="component-props-table-wrapper">
                    <table class="component-props-table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Type</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for attribute in customElements | getAttributes(component.name) %}
                            <tr>
                                <td data-label="Name" scope="row">{{attribute.name}}</td>
                                <td data-label="Type">{{attribute.type.text}}</td>
                                <td data-label="Description">{{attribute.description}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</article>

{# <script type="module" defer>
    import { enhanceCodeBlocks } from '/dist/utils/StoryUtils.js';
    enhanceCodeBlocks();
</script> #}