---
title: Omni Components
layout: page.njk
pagination:
    data: components
    size: 1
    alias: component
permalink: "components/{{ component.name | slug }}/"
---

<div class="component-overlay">
    <div class="lds-ripple"><div></div><div></div></div>
</div>

<article class="component">
    <div class="component-meta">
        <div class="component-name">{{ component.name }}</div>
        <div class="component-desc">{{ customElements | getDescription(component.name) | safe }}</div> 
        <div class="component-info">
            <div class="component-info-item">
                <div>Module</div>
                <div class="component-info-item-code">
                    <pre><code class="language-js" id="component-import-code">{{ customElements | getImport(component.name)}}</code></pre>
                    <span class="material-icons" style="font-size: 16px; cursor: pointer; margin-left: 6px;" onclick="copyToClipboard('component-import-code');return false;">
                        content_copy
                    </span>
                </div>
            </div>
            <div class="component-info-item">
                <div>Source</div>
                <div>
                    <a href="https://github.com/capitec/omni-components/tree/develop/{{ component.srcPath }}" target="blank" class="component-info-item-link">
                        <img src="./assets/images/github.svg" class="component-info-item-img">
                        View on GitHub
                    </a>
                </div>
            </div>
            <div class="component-info-item">
                <div>Package</div>
                <div>
                    <a href="https://www.npmjs.com/package/@capitec/omni-components" target="blank" class="component-info-item-link">
                        <img src="./assets/images/npm.svg" class="component-info-item-img">
                        @capitec/omni-components
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="component-tab-container">
        <div class="component-tab-root">
            <div class="component-tab-wrapper">
                <div class="component-tab-list" role="tablist">
                    <div role="tab" class="component-tab-button active" data-name="examples" onclick="openTab(event.currentTarget, 'examples')">Examples</div>
                    <div role="tab" class="component-tab-button" data-name="docs" onclick="openTab(event.currentTarget, 'docs')">Docs</div>
                    <div role="tab" class="component-tab-button" data-name="styles" onclick="openTab(event.currentTarget, 'styles')">Styles</div>
                </div>
            </div>
            <div class="component-tab" id="examples" role="tabpanel" style="display: block;">
                <div class="component-props-examples-wrapper">
                    <div class="component-tab-content">
                        <div class="component-stories">
                            {% for story in component.stories %}
                            <div class="name" id="story-{{ story | replace("_", "-") | lower }}">{{ story | replace("_", " ") }}</div>
                            <div class="story">
                                {# <div class="preview">
                                    <div>< button > </div>
                                    <div style="border-left: 1px solid #e1e1e1;">Live Preview</div>
                                </div>
                                <div style="border-top: 1px solid #e1e1e1;">
                                    Code Editor Here
                                </div>
                                <div style="border-top: 1px solid #e1e1e1;">
                                    Tests (Play)
                                </div> #}

                                <story-renderer 
                                    path="{{ component.path }}" 
                                    tag="{{ customElements | getTagName(component.name) }}" 
                                    key="{{ story }}"
                                    {% if story === 'Interactive' %}interactive{% endif %} 
                                >
                                </story-renderer>
                            </div>
                            {%- endfor %}
                        </div>
                        <div class="component-toc-wrapper">
                            <div class="component-toc">
                                {% for story in component.stories %}
                                    <a href="#story-{{ story | replace("_", "-") | lower }}" id="story-{{ story | lower }}" class="item">
                                        {{ story | replace("_", " ") }}
                                    </a>
                                {%- endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="component-tab" id="docs" role="tabpanel">

                <h2 class="component-props-table-header" style="padding-top: 24px;">Properties</h2>
                <div class="docs-search-area">
                    <div class="docs-search-wrapper">
                        <div class="docs-search-icon">
                            <span class="material-icons">
                                search
                            </span>
                        </div>
                        <input class="docs-search-input" id="attribute-search" type="text" placeholder="Search properties" aria-invalid="false" value="" spellcheck="false" data-ms-editor="true">
                    </div>
                </div>
                <div class="component-props-table-wrapper">
                    <table class="component-props-table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Attribute</th>
                                <th scope="col">Type</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody id="component-attributes">
                            {% for property in customElements | getProperties(component.name) %}
                            <tr>
                                <td data-label="Name" scope="row">{{property.name}}</td>
                                <td data-label="Attribute" scope="row">{{ property.attribute }}&nbsp;</td>
                                <td data-label="Type">{{property.type.text}}</td>
                                <td data-label="Description">{{ property.description | safe }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                <h2 class="component-props-table-header">Events</h2>
                <div class="docs-search-area">
                    <div class="docs-search-wrapper">
                        <div class="docs-search-icon">
                            <span class="material-icons">
                                search
                            </span>
                        </div>
                        <input class="docs-search-input" id="event-search" type="text" placeholder="Search events" aria-invalid="false" value="" spellcheck="false" data-ms-editor="true">
                    </div>
                </div>
                <div class="component-props-table-wrapper">
                    <table class="component-props-table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Type</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody id="component-events">
                            {% for event in customElements | getEvents(component.name) %}
                            <tr>
                                <td data-label="Name" scope="row">{{event.name}}</td>
                                <td data-label="Type">{{event.type.text}}</td>
                                <td data-label="Description">{{ event.description | safe }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                <h2 class="component-props-table-header">Slots</h2>
                <div class="docs-search-area">
                    <div class="docs-search-wrapper">
                        <div class="docs-search-icon">
                            <span class="material-icons">
                                search
                            </span>
                        </div>
                        <input class="docs-search-input" id="slot-search" type="text" placeholder="Search slots" aria-invalid="false" value="" spellcheck="false" data-ms-editor="true">
                    </div>
                </div>
                <div class="component-props-table-wrapper">
                    <table class="component-props-table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody id="component-slots">
                            {% for slot in customElements | getSlots(component.name) %}
                            <tr>
                                <td data-label="Name" scope="row">{{slot.name}}</td>
                                <td data-label="Description">{{ slot.description | safe }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="component-tab" id="styles" role="tabpanel">
                <div style="padding-top: 24px;"></div>
                {% for cssCat in customElements | getCSSProperties(component.name) %}
                <h2 class="component-props-table-header" >{{ cssCat.category }}</h2>
                <div class="docs-search-area">
                    <div class="docs-search-wrapper">
                        <div class="docs-search-icon">
                            <span class="material-icons">
                                search
                            </span>
                        </div>
                        <input class="docs-search-input css-category" data-category="{{ cssCat.category }}" type="text" placeholder="Search {{ cssCat.category }}" aria-invalid="false" value="" spellcheck="false" data-ms-editor="true">
                    </div>
                </div>
                <div class="component-props-table-wrapper">
                    <table class="component-props-table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody data-category="{{ cssCat.category }}" class="component-css-props">
                            {% for cssProp in cssCat.properties %}
                            <tr>
                                <td data-label="Name" scope="row">{{cssProp.name}}</td>
                                <td data-label="Description">{{ cssProp.description | safe }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</article>

{# <script type="module" defer>
    import { enhanceCodeBlocks } from '/dist/utils/StoryUtils.js';
    enhanceCodeBlocks();
</script> #}