---
title: Omni Components
layout: page.njk
pagination:
    data: components
    size: 1
    alias: component
permalink: "components/{{ component.name | slug }}/"
---
{# <div>{{ customElements | dump }}</div> #}

<story-renderer story-path="{{ component.path }}">

    <!-- More code here -->

</story-renderer>