---
title: Omni Components
layout: page.njk
---

<article class="static-article">

<h1>Welcome to Omni Components</h1>

<br />

Browse the catalog of components now by navigating to them in the sidebar.

Omni Components come with minimal dependencies to reduce the bloat in your project. All web components base off <strong>OmniElement</strong> (Which itself is based off <a href="https://lit.dev"><strong>LitElement</strong></a>) and are each available as fully standalone imports.


<div class="subheading">Links</div>

<div class="link-list">  
  <a class="link-item" href="https://github.com/capitec/omni-components" target="_blank">
    <img src="./assets/images/github.svg" alt="code" />
    <span>
      <strong>GitHub project</strong>
      View the source and add issues
    </span>
  </a>
  <a class="link-item" href="https://www.npmjs.com/package/@capitec/omni-components" target="_blank">
    <img src="https://avatars.githubusercontent.com/u/6078720" alt="npm" />
    <span>
      <strong>NPM Packages</strong>
      View the released packages
    </span>
  </a>
</div>
</article>