---
title: Omni Components
layout: page.njk
---

<article>
    <div class="home-header">
        <div class="title">Omni Components</div>
        <div class="sub-title">Customizable web components for any application</div>
    </div>
    <div class="home-content">
        <div class="wrapper">
            <div class="block">
                <div class="header">
                    <div class="icon material-icons">dashboard_customize</div>
                    <div class="text">Reusable</div>
                </div>
                <div>
                    <p>Wide range of web components that works with nearly any web-based environment or framework, for example:</p>
                    <div style="display: flex; flex-direction: column; padding: 24px;">
                        <div style="display: flex; flex-direction: row; align-items: center; padding-bottom: 12px;"><img style="height: 24px; width: 24px; margin-right: 12px;" src="./assets/images/react.svg" alt="React" />React</div>
                        <div style="display: flex; flex-direction: row; align-items: center; padding-bottom: 12px;"><img style="height: 24px; width: 24px; margin-right: 12px;" src="./assets/images/vue.svg" alt="Vue" />Vue</div>
                        <div style="display: flex; flex-direction: row; align-items: center; padding-bottom: 12px;"><img style="height: 24px; width: 24px; margin-right: 12px;" src="./assets/images/web-components.svg" alt="Web Components" />Web Components</div>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="header">
                    <div class="icon material-icons">invert_colors</div>
                    <div class="text">Themeable</div>
                </div>
                <div>
                    <p>Powerful styling and theming support via extensive use of <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties">CSS variables</a>, supported at both component and application theming level.</p>
                    <br>
                    <p>Refer to <a href="./theme-support">Theme Support</a> page for more info.</p>
                </div>
            </div>
            <div class="block">
                <div class="header">
                    <div class="icon material-icons">devices</div>
                    <div class="text">Responsive</div>
                </div>
                <div>
                    <p>A mobile-first approach provides optimized user experiences across mobile and desktop.</p>
                    <br>
                    <p>Refer to examples of each component for more info.</p>
                </div>
            </div>
            {# <div class="block">
                <div class="header">
                    <div class="icon material-icons">view_module</div>
                    <div class="text">ES Modules</div>
                </div>
                <div>
                    <p>Modern development pattern that makes it to import and extend the components as required.</p>
                </div>
            </div>
            <div class="block">
                <div class="header">
                    <div class="icon material-icons">devices</div>
                    <div class="text">TypeScript</div>
                </div>
                <div>
                    <p>TBC</p>
                </div>
            </div>
            <div class="block">
                <div class="header">
                    <div class="icon material-icons">devices</div>
                    <div class="text">Extensible</div>
                </div>
                <div>
                    <p>Wide support for slotted content as well as rendering template extensions and overrides.</p>
                </div>
            </div> #}
        </div>
    </div>
</article>