<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hind Vadodara" >
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/prism.min.js"></script>
    <script type="module" src="/dist/utils/StoryRenderer.js"></script>
    <script type="module" src="/dist/omni-components.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // Open / Close the menu
            const menuButton = document.querySelector('.header-menu-button .material-icons');
            menuButton.addEventListener('click', (e) => {
                const nav = document.querySelector('nav');
                if (nav.classList.contains('mobile')) {
                    nav.classList.remove('mobile');
                    menuButton.innerText = 'menu';
                } else {
                    nav.classList.add('mobile');
                    menuButton.innerText = 'close';
                }
            });

            // Scroll highlight
            const storyRenderders = document.querySelectorAll('story-renderer');
            const tocAnchors = document.querySelectorAll('.component-toc a');

            window.addEventListener('scroll', () => {
                
                storyRenderders.forEach(sr => {
                    let top = window.scrollY;
                    let offset = sr.offsetTop + 65;
                    let height = sr.offsetHeight;
                    let id = sr.getAttribute('id');

                    if (top > offset && top < offset + height) {

                        {# console.log(id, top, offset, height); #}

                        tocAnchors.forEach(a => {
                            a.classList.remove('component-toc-active');
                            document.querySelector('.component-toc a[href*=' + id + ']').classList.add('component-toc-active');
                        })
                    }
                })
            });
        });
    </script>
</head>
<body>
    <div dir="ltr">
        <div class="container">
            <header>
                <div class="header-menu-button">
                    <span class="material-icons">
                        menu
                    </span>
                </div>
                <div class="header-logo">
                    <div class="header-container">
                        <img src="/assets/images/logo.png" width="30" height: "30" alt="logo">
                        <div style="padding-left: 10px; font-weight: bold">Omni Components</div>
                    </div>
                </div>
                <div class="header-actions">
                    <a href="https://github.com/capitec/omni-components" target="_blank" class="action">
                        <img src="/assets/images/github.svg" style="cursor: pointer;">
                    </a>
                </div>
            </header>

            {% include "nav.njk" %}
            {{ content | safe }}

            <footer>
                Footer
            </footer>
        </div>
        
    </div>
</body>
</html>