<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

    <!-- Omni Components -->
    <script type="module" src="/dist/utils/StoryRenderer.js"></script>
    <script type="module" src="/dist/omni-components.js"></script>
</head>
<body>

    <header>
        Header
    </header>

    <div style="display: flex; ">
        {% include "nav.njk" %}
        {{ content | safe }}
    </div>

    <footer>
        Footer
    </footer>

</body>
</html>