<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism-twilight.css" />

  <!-- Omni Components -->
  <script type="module" src="/dist/utils/StoryRenderer.js"></script>
</head>
<body>

  <!-- TODO: Split the header out into its own template --> 
  <header>Header</header>

  <div class="container">
    <aside>
      {% include "nav.njk" %}
    </aside>

    {{ content | safe }}
  </div>

  <footer>
    <div>
      <p>&copy; {% year %} Footer XX</p>
    </div>
  </footer>

</body>
</html>