{% set currentUrl %}{{ page.url }}{% endset %}

<nav class="menu-desktop">
  <ul role="list">
    <li>
      <a {% if currentUrl === '/' %}aria-current="page"{% endif %} href="/">Home</a>
    </li>

{% for x in [1,2,3,4,5,6,7,8,9]%}
    {% for component in components %}
    <li>
       <a 
        {% if currentUrl.includes(component.name | slug) %}aria-current="page"{% endif %} 
        href="/components/{{ component.name | slug }}">
          {{ component.name }}
      </a>
    </li>
    {%- endfor %}
    {%- endfor %}

  </ul>
</nav>