{% set currentUrl %}{{ page.url }}{% endset %}

<nav class="menu">
    <div class="menu-container">
        <div class="menu-item-wrapper" style="border-left: 1px solid #00486d;">
            <a class="menu-item" style="background: #209cee33; color: #00486d;" {% if currentUrl === '/' %}aria-current="page"{% endif %} href="/">Home</a>
        </div>

        {% for component in components %}
        <div class="menu-item-wrapper">
            <a class="menu-item"  style="width: 100%; display: block;"
            {% if currentUrl.includes(component.name | slug) %}aria-current="page"{% endif %} 
            href="/components/{{ component.name | slug }}">
                {{ component.name }}
            </a>
        </div>
    {%- endfor %}
    </div>
</nav>