:root {
    --omni-theme-font-color: rgb(0, 49, 58);
    --omni-theme-colored-font-color: #4e6654;
    --omni-theme-font-family: Arial, Helvetica, sans-serif;

    --omni-theme-hint-font-color: lightgrey;
    --omni-theme-error-font-color: rgb(255, 115, 0);
    --omni-theme-disabled-background-color: #DEDEDE;
    --omni-theme-disabled-border-color: #dedede44;
    --omni-theme-filled-background-color: #005ae0;
    --omni-theme-track-filled-background-color: #0400e0;
    --omni-theme-track-background-color: #7c7c7c;
    --omni-theme-light-box-shadow-color: #e6f7ff;
    --omni-theme-light-background-color: #FFFFFF;
}