:root {

    --omni-theme-primary-color: #8B0000;
    --omni-theme-primary-hover-color: #830000;
    --omni-theme-primary-active-color: #7C0000;

    --omni-theme-accent-color: #9E4646;
    --omni-theme-accent-hover-color: #963E3E;
    --omni-theme-accent-active-color: #8F3737;

    --omni-theme-background-color: #FFFFFF;
    --omni-theme-background-hover-color: #F7F7F7;
    --omni-theme-background-active-color: #F0F0F0;

    --omni-theme-font-color: rgb(255, 68, 68);

    --omni-theme-disabled-border-color: #dedede44;
    --omni-theme-disabled-background-color: #DEDEDE;
    --omni-theme-error-font-color: black;
    --omni-theme-error-border-color: black;
    --omni-theme-hint-font-color: lightgrey;
    --omni-theme-inactive-color: #7c7c7c;
    --omni-theme-box-shadow-color: #ffe6e6;

    --omni-theme-font-family: Arial, Helvetica, sans-serif;
    --omni-theme-font-size: 14px;
    --omni-theme-font-weight: inherit;

    --omni-theme-border-radius: 4px;
    --omni-theme-border-width: 2px;

    --omni-theme-box-shadow: 0 0 4px 4px var(--omni-box-shadow-color)
}