:root {

    --omni-theme-primary-color: #8b0000;
    --omni-theme-accent-color: #9e4646;

    --omni-theme-font-family: Arial, Helvetica, sans-serif;
    --omni-theme-font-size: 14px;
    --omni-theme-font-weight: inherit;

    --omni-theme-font-color: rgb(255, 68, 68);

    --omni-theme-background-color: white;

    --omni-theme-disabled-border-color: #dedede44;
    --omni-theme-disabled-background-color: #DEDEDE;
    --omni-theme-error-font-color: black;
    --omni-theme-error-border-color: black;
    --omni-theme-hint-font-color: lightgrey;
    --omni-theme-inactive-color: #7c7c7c;
    --omni-theme-box-shadow-color: #ffe6e6;

    --omni-theme-border-radius: 4px;
    --omni-theme-border-width: 2px;

    --omni-theme-box-shadow: 0 0 4px 4px var(--omni-box-shadow-color)
}