:root {
    --omni-theme-font-color: rgb(255, 68, 68);
    --omni-theme-colored-font-color: #ff4e4e;
    --omni-theme-font-family: Arial, Helvetica, sans-serif;

    --omni-theme-hint-font-color: lightgrey;
    --omni-theme-error-font-color: rgb(0, 0, 0);
    --omni-theme-disabled-background-color: #DEDEDE;
    --omni-theme-disabled-border-color: #dedede44;
    --omni-theme-filled-background-color: #8b0000;
    --omni-theme-track-filled-background-color: #9e4646;
    --omni-theme-track-background-color: #7C7C7C;
    --omni-theme-light-box-shadow-color: #ffe6e6;
    --omni-theme-light-background-color: #FFFFFF;
}