name: pull-request-tests
on:
  pull_request:
    branches: [ main,develop ]
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  pr-run-storybook-tests:
    timeout-minutes: 15 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
          registry-url: 'https://registry.npmjs.org'
          always-auth: true
      - run: npm ci
      - run: npx playwright install-deps webkit
      - run: npm run compile
      - name: Test Storybook & Jest
        run: npm run test
        env:
          CI: true